@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap');

.logo-size {
    height: 20px;
}

body {
    font-family: Dongle;
    font-size: x-large;
}

i{
height: fit-content;
}

.card-text{
    margin-top: -20px;
}


.rounded-card {
     border-radius: 10px;
}
