<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление объявления</title>
</head>
<body>

<form method="post" th:action="@{/listings/add-listings}">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required><br><br>

  <label for="description">Description:</label>
  <textarea id="description" name="description" required></textarea><br><br>

  <label for="location">Location:</label>
  <select id="location" name="location" required>
    <option value="">-- Select location --</option>
    <th:block th:each="location : ${listing.possibleLocations}">
      <option th:value="${location}" th:text="${location}"></option>
    </th:block>
  </select>

  <label for="price">Price:</label>
  <input type="number" id="price" name="price" step="0.01" min="0" required><br><br>

  <input type="submit" value="Submit Ad">
</form>

</body>
</html>