<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Аренда квартир - просто!</title>
</head>
<body>

<div th:if="${authentication != null and authentication.isAuthenticated()}">

    <p>Вы авторизованы как <span th:text="${username}"></span></p>
    <a th:href="@{/listings/add-listings}">Добавить объявление</a>
    <a th:href="@{/logout}">Выйти</a>

</div>
<div th:unless="${authentication != null and authentication.isAuthenticated()}">
    <a th:href="@{/login}">Войти</a>
    <a th:href="@{/register}">Зарегистрироваться</a>
</div>

<h1>Rentify</h1>


<div th:each="listing : ${listings}">
    <h2  th:text="${listing.title}"></h2>
    <p th:text="${listing.description}"></p>
    <p th:text="${listing.location}"></p>
    <p th:text="${listing.price}"></p>
    <p th:if="${listing.user != null}" th:text="${listing.user.username}"></p>
    <a th:href="@{/house-details(id=${listing.id})}">Подробнее</a>
</div>

</body>
</html>
