<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аренда квартир - просто!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <style>
    @import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

    body {
      font-family: 'Dongle', sans-serif;
    }

    .elastic p{
        transition: all ease 500ms;
    }

    .elastic p.hide{
        display: none;
    }

    mark{
        background-color: aquamarine;
    }

    </style>

</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <h1 class="rentify-text">Renti<span class="text-primary">fy</span></h1>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/my-bookings">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-ads">My Ads</a>
                </li>
            </ul>
        </div>

        <div class="text-right">
            <div th:if="${authentication != null and authentication.isAuthenticated()}">
              <p>You log in as <span th:text="${username}"></span></p>
              <a th:href="@{/logout}">Log Out</a>
           </div>

            <div th:unless="${authentication != null and authentication.isAuthenticated()}">
                <a th:href="@{/login}">Sign In</a>
              <a th:href="@{/register}">Sign Out</a>
           </div>
        </div>
    </div>
</nav>

<div class="container">

    <div>
        <form id="search-form">
            <div class="input-group mb-3">
                <input type="text" id="elastic" class="form-control" placeholder="Search term" aria-label="Search term" aria-describedby="search-button">
                <div class="input-group-append">
                    <button id="search-button" class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <button class="btn button-primary" type="submit">
        <div th:if="${authentication != null and authentication.isAuthenticated()}">
            <a th:href="@{/listings/add-listings}">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </div>
    </button>

    <div class="row">
        <div th:each="listing : ${listings}" class="col-md-4 p-4">
            <div class="card">
                <div class="card-body">
                    <div class="elastic">
                        <img th:src="${listing.imageUrl}" alt="Listing Image" width="300px">
                        <h2 th:text="${listing.title}"></h2>
                        <p th:text="${listing.description}"></p>
                        <p th:text="${listing.location}"></p>
                        <p th:text="${listing.price}"></p>
                        <p th:if="${listing.user != null}" th:text="${listing.user.username}"></p>
                        <a th:href="@{/house-details(id=${listing.id})}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>