<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>House Details</title>
</head>
<body>
<h1>House Details</h1>



<!-- вывод инфы о доме -->
<h2 th:text="${listing.get().title}"></h2>
<p th:text="${listing.get().description}"></p>
<p>Location: <span th:text="${listing.get().location}"></span></p>
<p>Price: <span th:text="${listing.get().price}"></span></p>

<!-- букинг/работа с бэком -->
<form th:action="@{/listings/{listingId}/book(listingId=${listing.get().id})}" method="post">
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" required>
    <br>
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" required>
    <br>
    <button type="submit">Book Now</button>
</form>
</body>
</html>
