<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Авторизация</title>
</head>
<body>
<h1>Login</h1>

<form th:action="@{/login}" method="post">
    <label for="username">Login:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <button type="submit">Submit</button>
</form>

<div th:if="${param.error}">
    <p>Invalid username and password.</p>
</div>
<div th:if="${param.logout}">
    <p>You have been logged out.</p>
</div>

<p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
</body>
</html>